
.persona-menu
{
  height: 300px;
  font-size: 30px;
}

.persona-menu-title{
  font-size: 30px;
}

.persona1
{
  height: 1000px;
  font-size: 30px;
}

.persona-bar{
  list-style: none;
}
.istp-keeb{
  height: 800px;
}