

.h-landing-style{
  margin-left: 50px;
  margin-right: 50px;
  height: 200px;
  border-style: solid; /* can remove later */
  display: flex;
  flex-direction: row; 
  justify-content: center;
}
x
/* vertical grouping */
.v-landing-style{
  border-style: solid; /* can remove later */
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.landing-message{
  font-size: 50px;
  color: rgb(255, 255, 255); 
  text-align: center;
}

.site-title{
  font-size: 30px;
  padding: 10px 10px;
}

.nav{
  background-color:#bfe2f9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px 10px;
}
.nav ul{
margin: 0;
list-style: none;
display: flex;
padding: 10px 15px;
}

.nav a{
color: inherit;
text-decoration: none;
display: flex;
align-items: center;
padding: .25rem;
}

.qz-box{

display: inline-block;
}
.qz-intro{

background-color: blue;

}