

/* vertical grouping */

.site-title{
  font-size: 35px;
  
}

.nav{
  background-color:#3A405A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 10px;
}

.nav ul{
margin: 0;
list-style: none;
display: flex;
padding: 30px 30px;
}

.nav a{
margin: 0;
color: inherit;
text-decoration: none;
display: flex;
align-items: center;
padding: .35rem;
}

.qz-box{

display: inline-block;
}
.qz-intro{

background-color: blue;

}