
body{
  background: rgb(238,174,236);
  background: radial-gradient(circle, rgba(238,174,236,0.5617028061224489) 0%, rgba(148,187,233,1) 100%);  font-family: Pixelify Sans, Arial;
  font-weight: 401;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

