.istp-keeb{
  height: 200px;
  background-color: aqua;
}

.can{
  background: rgb(171,233,148);
  background: radial-gradient(circle, rgba(171,233,148,0.8856894841269841) 1%, rgba(0,29,126,1) 100%);
}

